<div class="card-container flex justify-center align-center">
  <div class="card-name text-center font-weight-big font-size-big">
    <%= mun.nombre.titleize %>
  </div>
  <div class="card-row flex justify-content-between position-absolute position-top">
    <div class="text-center side-margin-mid top-bot-margin-small">
      <div class="card-fact font-size-small font-weight-big">
        1
      </div>
      <div class="card-fact-description font-size-x-small">
        general
      </div>
    </div>
    <div class="text-center side-margin-mid top-bot-margin-small">
      <div class="card-fact font-size-small font-weight-big">
        1
      </div>
      <div class="card-fact-description font-size-x-small">
        departamento
      </div>
    </div>
  </div>
  <div class="card-row flex justify-content-between position-absolute position-bottom">
    <div class="text-center side-margin-mid top-bot-margin-small">
      <div class="card-fact font-size-x-small font-weight-big">
        18.231
      </div>
      <div class="card-fact-description font-size-x-small">
        habitantes
      </div>
    </div>
    <div class="text-center side-margin-mid top-bot-margin-small">
      <div class="card-fact font-size-x-small font-weight-big">
        6ta
      </div>
      <div class="card-fact-description font-size-x-small">
        categoría
      </div>
    </div>
  </div>
</div>
