<div class="banner banner-landing <%#= "banner-landing" if controller_name == "pages" %>">
  <div class="banner-content">
    <div class="moto">
      <h1> Encuentre información financiera de los <br> municipios de colombia </h1>
      <h5> Seleccione el departamento que desea consultar </h5>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form", departamentos: Departamento.all %>
    </div>
  </div>
</div>
